/*
 * File: layout.css
 * Project: memento-mori-react
 * File Created: Thursday, 8th June 2023 8:30:53 pm
 * Author: Matthieu LEPERLIER (m.leperlier42@gmail.com)
 * -----
 * Last Modified: Thursday, 8th June 2023 8:30:53 pm
 * Modified By: Matthieu LEPERLIER (m.leperlier42@gmail.com>)
 * -----
 * Copyright 2021  - 2023 Matthieu LEPERLIER, Nomad Solutions
 */
.Form {
  padding: 20px;
  text-align: center;
  text-justify: center;
  background-color: #556270;
  border-radius: 8px;
}

.Form__input > label {
  color: white;
}
